<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFW1E0zEqg1jfOhNYIbg19pd_FZQpu1vI</string>
	<key>GCM_SENDER_ID</key>
	<string>405198687166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>acc.CabreraAlex-HW6</string>
	<key>PROJECT_ID</key>
	<string>pizzatime-f04a9</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzatime-f04a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405198687166:ios:1ff40a97865e91de5f47ef</string>
</dict>
</plist>